/*HEADER*/

.navbar-collapse {
    padding-right: 30px;
    padding-left: 30px;
    overflow-x: visible;
    position: relative;
    text-align: center;
}

#nav {
    background-color: #DCDCDC;
    width: auto;
    display: block;
}

.nav-item {
    margin: 0 19px;
}

.nav-item p {
    color: black;
    font-size: 16px;
    font-family: optima;
    display: block;
}

li {
    float: left;
    font-family: optima;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: optima;
}

.active {
    font-weight: bolder
}

li a:hover:not(.active) {
    border-bottom: solid 1px;
    border-color: black;
    transition: all 1.5s linear;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: black;
    padding: 8px;
    background-color: inherit;
    font-family: optima;
    font-size: 16px;
}

.dropdown {
    font-family: optima;
    font-size: 16px;
    display: inline-block;
}

.dropdown-content {
    font-family: optima;
    display: none;
    position: absolute;
    background-color: #DCDCDC;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.dropdown-content a {
    font-family: optima;
    font-size: 16px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*LATERAL ESQUERDA*/

html,
body {
    height: 100%;
}

.scrollspyLateral {
    position: relative;
    overflow: auto;
    height: 100%;
}

* {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 4px;
    font-size: 16px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
    position: relative;
    margin-top: 10px;
}

form.example button {
    float: left;
    width: 15%;
    padding: 4px;
    background: #2196F3;
    color: white;
    font-size: 16px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}