    {% extends 'modelo.html' %}
    {% block content %}

    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" id="corpo">
                <h1>ÁGUA-TINTA</h1>
                <hr>

                <center>
                    <figure style="width: 25%; text-align: center;">
                        <img src="..\static\impressao\agua_tinta.jpg" style="width: 100%;" alt="Marcus Lontra, Curador de Arte olhando e sorrindo para a foto" >
                        <figcaption class="figcaption">"Núcleo", 1966. Iberê Camargo, Água-tinta (processo do açúcar).</figcaption>
                    </figure>
                </center>

                <p>
                    <u>Processo do sal</u>: consiste em cobrir a chapa com uma camada de cera branca sobre a qual se peneira sal de cozinha. Recomenda-se que
                    a camada de cera branca, embora mais abundante que a usada na cera negra, seja delgada e bem distribuída, do contrário, a cera
                    impediria a penetração do sal.
                </p>

                <p>
                    Coloca-se a chapa horizontalmente sobre a mesa – a chapa deve estar um pouco quente afim de permitir a penetração do sal na cera – e
                    peneira-se sobre a chapa uma camada de sal grosso ou fino, segundo o grão que se deseja obter. Usa-se uma finíssima peneira de trama de
                    metal que se move regularmente sobre a chapa, em todos os sentidos, até que esta fique completamente coberta.
                </p>

                <p>
                    É necessário peneirar a placa abundantemente com o sal, depois aquecer um pouco, e, antes de cozinhar, fazer cair o excesso de sal,
                    o que se consegue dando uma pequena pancada na mesa com o bordo oposto da chapa em que está presa no “marceto”, e se assegurar se a
                    camada que restou é bem homogênea e regular.
                </p>

                <p>
                    Antes de usar o sal é muito importante aquecê-lo a fim de livrá-lo da umidade e permitir-lhe uma maior penetração na camada da cera.
                </p>

                <p>
                    Aquece-se o sal, levando a peneira que o contém (daí a conveniência da trama de metal) sobre a lâmpada de álcool até que o sal faça um
                    pequeno barulho muito característico que prova a sua secura absoluta.
                </p>

                <p>
                    Precisamos agora cozer o sal, isto é, aquecer a chapa, para que a cera permita a penetração perfeita dos grãos de sal. Esta operação é
                    extremamente delicada e exige prática. É preciso que se dê à chapa, um justo grau de calor, nem muito nem pouco. Leva-se a chapa sobre a
                    chama (usando um fogo brando) movendo-a regularmente a fim de se  ter um aquecimento regular e uniforme, sem golpes de fogo em qualquer
                    lugar, o que causaria transtornos. É importante que o calor seja distribuído uniformemente sobre toda a superfície. Recomenda-se não
                    parar com a chapa sobre a chama. Para as grandes chapas será conveniente usar uma placa de ferro sob a qual se metem dois ou três bicos
                    de gás que distribuem bem o calor. É muito importante o ponto justo do cozimento que deve ser bem fraco e continuado até que se vejam bem
                    visíveis os vapores de fumo branco se desprenderem da cera em toda a chapa. Não se deve ter medo em exceder, pois não é fácil queimar o
                    verniz.
                </p>

                <p>
                    Terminada esta operação, deixa-se a chapa esfriar naturalmente e inteiramente, depois de trata de remover o sal o que se consegue
                    emergindo a chapa numa banheira com água. Passados alguns minutos, apressa-se o derretimento do sal, passando sobre a superfície da
                    chapa um pincel de pelo mole e farto.
                </p>

                <p>
                    Dissolvido inteiramente o sal, retira-se a chapa da água e se deixa secar naturalmente. A chapa está preparada para se obter a água
                    tinta.
                </p>

                <p>
                    Da dissolução do sal produzem-se vazios que darão o granulado da água tinta. Este granulado será mais ou menos fino, segundo o
                    tamanho dos grãos do sal empregado: desejando-se um granulado mais grosso, emprega-se sal mais grosso. Neste caso, antes de usá-lo,
                    deve-se fazê-lo passar pela trama da peneira mais fina. É cômodo dispor  de duas ou três peneiras de diversas tramas.
                </p>

                <p>
                    Uma vez seca completamente a chapa, trata-se de cobrir com “vernis a recouvrir” a parte ou partes que devem permanecer absolutamente
                    brancas. Começa-se em cobrir as bordas, que numa gravura devem sempre permanecer brancas.
                </p>

                <p>
                    Feitas as coberturas, deixa-se secar o verniz antes de meter a chapa no mordente. O fundo da chapa também deve ser protegido com
                    este verniz, o que aliás, se faz sempre que uma chapa é metida no ácido.
                </p>

                <p>
                    A vantagem do processo do sal, além de dar maior luminosidade à gravura, permite uma longa mersura permitindo assim aprofundar os
                    “sonhos” que no caso, são pontos. A mersura para uma chapa preparada com sal mais grosso é muito mais longa, visto que os grãos
                    produzidos pelo sal grosso são mais reduzidos. O aprofundamento dos “sonhos” facilita o trabalho de impressão: a tinta fixa-se
                    melhor sobre o granulado da chapa e resiste mais à pressão da prensa. A diferenciação dos valores da água tinta consegue-se pela
                    diferença de tempos. Quando uma parte ou partes da chapa estejam suficientemente mordidas, retira-se a chapa do banho, lava-se com
                    água limpa e depois de deixá-la secar, cobre-se com “vernis a recouvrir” o lugar onde não se quer que continue sendo atacado pelo
                    ácido. E assim, prosseguindo com sucessivas mersuras e coberturas, conseguem-se todos os valores que se desejam. O tempo do banho é
                    variável. Para uma precisa dosagem de valores é absolutamente necessário ter uma tabela de mersura com a indicação dos tempos de
                    imersão. Nada se pode precisar sem esta prova e deve-se ter o cuidado de trabalhar sempre nas mesmas condições. O mordente, que se
                    usa para a água tinta, é o mordente holandês. Este mordente é o ideal. Nunca se deve empregar o ácido nítrico. Este ácido é
                    demasiadamente violento.O mordente é sempre caprichoso. É necessário confiar na observação dos olhos e a prática dirá como.
                    Deve-se procurar observar a solicitude com a qual o mordente trabalha. Se o cobre é atacado rapidamente nos primeiros minutos,
                    um ou dois, isto significa que tudo vai regularmente. Se o cobre é atacado rapidamente nos primeiros minutos, um ou dois, isto
                    significa que tudo vai regularmente. Se o cobre tardar em escurecer, então, é necessário aumentar todos os tempos de mersura.
                    Trata-se de um processo extremamente delicado, sujeito a muitas coisas. Em lugar de procuras, é melhor se recomendar ao olho e
                    ao instinto. O bom cobre, bem martelado, é mordido com perfeição. Mas ele é duro e mais rapidamente é atacado. Mesmo a sua pureza
                    é importante.
                </p>

                <p>
                    Se o cobre tem liga com outros metais, o que acontece seguido, tudo vem irregular. Comumente 60´, 70´, é um tempo máximo para se
                    obter um negro intenso numa água tinta, tanto executada com sal como a resina. As mersuras muito prolongadas tendem a destruir o
                    trabalho. A remersura de uma água tinta é absurdo; desaparece toda a frescura.
                </p>

                <p>
                    Pode-se obter um valor exato, talvez, com a ajuda do brunidor, da ardésia ou do papel lixa, mas é muito desagradável. A primeira
                    qualidade da água é a frescura. Mas se queremos fazer a remersura, aplica-se um novo granulado. Nesse caso será necessário aplicar
                    um granulado mais grosso sobre um granulado sutil e não o contrário. Precisando-se tornar uma parte mais escura, usa-se sal mais
                    grosso sobre sal fino e este sobre sal grosso se for necessário clarear a sombra. Sobre a água tinta executada com sal, pode-se
                    aplicar pinceladas de ácido nítrico para conseguir um negro mais intenso, como se faz na água forte, mas só empregando ácido muito
                    fraco. Isto tanto se refere ao ácido nítrico como a outro qualquer ácido. Consegue-se um granulado finíssimo, muito sutil, passando
                    sobre a chapa uma pasta de enxofre e óleo de oliva. Esta mistura ataca o cobre. Passa-se com um pincel ou com o dedo. O enxofre dá
                    uma ligeiríssima tinta de gris belo e delicado, muito unido, mas resiste pouco à prensa. Depois de dez cópias, estraga-se. Como sua
                    gradual debilidade vai-se acentuando, pode-se, com a prática, vendo as cópias, dizer qual é a primeira, a segunda etc.
                </p>

                <p>
                    Rembrandt usava muito este procedimento. O tempo que a pasta de enxofre precisa permanecer sobre a chapa é variável. Mas este
                    procedimento só serve para dar uma ligeiríssima velatura. E esta aplicação de enxofre e óleo só se faz por último, quando se
                    termina a gravura. Precisa-se polir bem a chapa para que o enxofre se fixe no cobre. A água tinta é um procedimento que se pode
                    combinar com a ponta seca, com a água forte etc, conforme convenha ao trabalho. Goya combinou a água tinta com água forte. Aqui
                    deixa-se toda a liberdade do artista. Entretanto, pode-se dizer, falando com rigor que esta mescla de procedimentos representa um
                    certo abastardamento. O verniz mole é um procedimento que se combina bem com a água tinta com um destes processos, deve-se primeiro
                    fazer a água forte ou o verniz mole, se for o caso. É verdade que se pode começar pela água tinta, mas não é aconselhável, devido à
                    fragilidade de granulado da água tinta diante da ação do ácido. Também é verdade que sobre a água tinta cujo resultado não nos basta,
                    praticamos a água forte ou o verniz mole. Mas repito, será sempre preferível fazer primeiro a água forte ou o verniz mole.
                </p>

                <p>
                    Recomenda-se desengraxar a chapa muitíssimo vem, repetindo a limpeza três ou quatros vezes consecutivas. Quanto se precisa recobrir
                    uma chapa de água tinta, dá-se uma camada de verniz mole e depois que esta camada estiver seca, aplica-se uma camada de “vernis a
                    recouvrir”, a fim de protegê-lo bem da ação do ácido. Como foi dito, pode-se começar pela água tinta e terminar com a ponta. Mas
                    tome cuidado, pois, como se deve envernizar com cera branca após a mersura da água tinta, afim de ver o trabalho em transparência,
                    deve-se meter uma camada um pouco mais espessa que de ordinário, pois a cera branca, não tendo betume e não sendo enfumaçada,
                    resiste menos ao mordente, e especialmente ao nítrico. Para decalcar o desenho sobre o granulado da chapa ou sobre a preparação
                    da água tinta, pode se usar papel atintado com sanguinia, decalcando-o com um lápis muito mole e sem pressioná-lo em demasia.
                    Uma água tinta pode dar muitas cópias. É sempre prudente cromar a chapa para uma centena de provas. A impressão da água tinta
                    só se faz “a palmo”.
                </p>

                <p>
                    <b>Fontes:</b>
                </p>

                <p>
                    CAMARGO, Iberê. A Gravura.  Topal, São Paulo, 1975.<br>
                    CAMARGO, Iberê. A Gravura.  Porto Alegre, Sagra: DC Luzzatto, 1992.
                </p>
            </div>
        </div>
    </div>

    {% endblock %}