    {% extends 'modelo.html' %}
    {% block content %}

    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" id="corpo">
                <h1>ÁGUA-FORTE</h1>
                <hr>

                <center>
                    <figure>
                        <img src="..\static\impressao\agua_forte.jpg" style="max-width: 100%;" alt="Marcus Lontra, Curador de Arte olhando e sorrindo para a foto" >
                        <figcaption class="figcaption">"Pierrot", gravura metal, água-forte. Carlos Oswald, 1914.</figcaption>
                    </figure>
                </center>

                <p>
                    “A preparação de uma chapa para a execução da água forte, e isso se refere a todos os métodos em que intervém vernizes e ácidos,
                    tem a maior importância e por isso exige o maior cuidado e prática. Primeiramente, remove-se completamente a graxa do cobre,
                    esfregando-o energicamente com branco de Espanha e álcool retificado. Para isto, derrama-se um pouco de branco de Espanha sobre
                    a superfície da chapa, junta-se um pouco de álcool e esfrega-se toda a superfície  da chapa com um pedacinho de gaze, tendo especial
                    cuidado com as partes vizinhas dos bordos, onde a gordura tende a se depositar. Usa-se gaze por ser um pano absolutamente livre de
                    gorduras ou impurezas. Não se deve ter pressa em terminar esta operação a fim de que o desengraxamento seja perfeito. Uma vez
                    suficientemente esfregada a chapa, duas ou três vezes, deve-se aquecê-la ligeiramente para facilitar o desprendimento de pó que
                    se remove com uma gaze limpa. Com o aquecimento da chapa, o álcool evapora-se e o branco de Espanha torna-se quebradiço, fácil de
                    ser removido inteiramente. Terminada a limpeza, não se deve mais tocar na superfície da chapa, os dedos têm graxa e esta sobre a
                    chapa, não permite a aderência perfeita da cera. Segura-se, então, com o  torno de mão, a chapa, colocando-a sobre um pequeno
                    fogareiro a álcool  a fim de aquecê-la, o que não deve ser feito em demasia, pois queimaria a cera. Conservando a chapa presa no
                    torno de mão, e apoiada à mesa pelo bordo oposto, espalha-se um pouco de verniz sobre a sua superfície. Este deve estar colocado
                    dentro de uma boneca de seda, de finíssima trama, a fim de reter as impurezas que possa conter a mistura o que prejudicariam a
                    resistência da camada de verniz. Posto este, e em seguida espalhado numa fina película que se uniformiza, usando de um tampão com
                    o qual se bate sobre a superfície encerada, até que esta se apresente completamente uniforme. Uniformiza-se a camada de cera, que
                    deve ser bastante delgada e bem distribuída, a princípio, pressionando-a  com o tampão para logo finalizar com um batimento mais
                    rápido. Quando se sente que o tampão pega, é sinal que a chapa está se tornando fria, de que a cera endurece e, neste caso, deve-se
                    aquecer a chapa novamente. É melhor que isto não aconteça. É importante, quando se encera, observar como se conduz o tampão. Este
                    deve ser levantado sempre verticalmente e de súbito. Também será conveniente fazê-lo passar rapidamente sobre a chama, antes de
                    usá-lo. Quando se finaliza o enceramento e dão-se os últimos toques, o tampão deve apenas assentar levemente sobre a camada de cera.
                    É absolutamente necessário que o tampão seja feita com seda cuja trama seja apertadíssima, isto é, com um grão muito fino, a fim de
                    que não danifique a camada de cera. Quando se usa o tampão, conserva-se a chapa inclinada com o lado oposto ao que está preso no torno
                    de mão apoiado sobre a mesa, alguma impureza que, com os repetidos movimentos do tampão, se possa, por infelicidade, colher, de sobre
                    a mesa, alguma impureza que, transportada para a chapa, seria desastroso. Quando se põe o verniz, passa-se a boneca que o contém num
                    movimento de zig-zag, numa linha contínua. Terminado o enceramento da chapa, deve-se observar atentamente se, sobre a camada do verniz,
                    não há falhas ou bolhas de ar. Ainda com a chapa quente, suspende-se esta sobre a chama de uma lâmpada de petróleo ou sobre uma tocha
                    de cera, que se vende para este fim, fazendo com que a lâmpada passeie sobre a camada envernizada, primeiramente num sentido, digamos,
                    da esquerda para a direita, depois da direita para a esquerda, para finalmente, cruzar. Não se deve fazer um movimento circular.
                    Segura-se o torno de mão com a mão esquerda, acima da altura dos olhos, e empunha-se a tocha com a mão direita. O movimento da chama
                    deve ser feito com grande regularidade; nada de atropelos. Se não se fizer o movimento regular, o enegrecimento da camada não será
                    uniforme e ainda se corre o risco de queimar o verniz, no ponto em que se demorar a chama. Os pontos de verniz, que foram enfumaçados
                    em demasia, apresentam um negro fosco. O enfumaçamento da chapa tem duas finalidades: consolidar a camada da cera e tornar visível o
                    traço praticado sobre a sua superfície, seja este produzido com o estilete ou com o transmissor. Uma chapa encerada com cera negra,
                    verniz duro, pode ser conservada longo tempo. Quando se encera uma chapa pela segunda vez com a cera negra, deve-se ter o cuidado de
                    cobrir completamente os traços, a fim de evitar que estes sofram um novo ataque de mordente. Neste caso, consegue-se uma correta
                    cobertura, aplicando uma camada mais espessa de cera. Também se pode envernizar a chapa com um rolo ou um pincel, usando, neste último
                    caso, um verniz líquido, do qual o Dureziez é excelente. (Fluido pour la gravure).
                </p>

                <p>
                    Os vernizes que se dividem em vernizes duros e líquidos, apresentam, mais ou menos, uma composição semelhante, variando de acordo com
                    a finalidade de seu emprego. Para se envernizar uma chapa com o rolo, coloca-se esta sobre uma fonte de calor, a chapa do fogão, e
                    depois de se ter posto sobre ela um pouco de verniz – seja esta cera negra ou cera branca – espalha-se e uniformiza-se a camada, usando
                    de um rolo de couro ou de borracha. Para o bom êxito desta operação, é preciso que a chama esteja numa temperatura que permita segurá-la
                    com a mão, quando se passa o rolo. Para isto, deve-se, no momento passar o rolo, conservá-la na parte mais fria da chapa do fogão.
                    As demais operações se fazem como já foi explicado para o envernizamento com o  tampão. O verniz líquido é aplicado com um pincel chato,
                    no sentido do comprimento e da largura da chapa, que deve estar colocada sobre um plano horizontal. Também o verniz pode ser derramado
                    sobre a superfície da chapa e, neste caso, o gravador deverá ter a habilidade de mover a chapa de forma a que o verniz se espalhe
                    uniformemente antes que seque, e que acontece com rapidez.  O verniz líquido não tem a resistência da cera negra, mas é muito útil
                    para se fazerem correções. Aplicado sobre a cera negra, seca com relativa rapidez e presta-se, otimamente para o trabalho da ponta.
                    Também é útil para as remorsuras. Este verniz não se enfumaça e se aplica a frio. Já que falamos em vernizes, é bom lembrar que o
                    “vernis à recouvrir”, apesar de líquido, só se usa como verniz isolante, isto é, para proteger as partes que não devem ser atacadas
                    pelo mordente. Ele não se presta ao trabalho da ponta.
                </p>

                <p>
                    Terminada a preparação da chapa, e quando esta estiver completamente fria, trata-se de transportar o desenho para a chapa. É um meio
                    simples e prático intercalar entre o desenho feito em papel vegetal, e a chapa, um papel transmissor, branco, ou uma folha de papel
                    fino, atintada de sanguina. Também se pode gravar diretamente sobre a chapa e, neste caso, evita-se a inversão do motivo que este
                    meio acarreta, usando-se de um espelho. Quando se trabalha no atelier, os traços feitos sobre o metal apresentam um brilho que
                    molestava a vista. Remove-se este inconveniente,  colocando-se em frente da prancheta, junto da janela, um anteparo de papel
                    transparente (vegetal), com uma pequena inclinação  em relação à mesa. Procurei dar uma descrição minuciosa das operações que se
                    fazem necessárias para se ter a chapa bem preparada. Agora, eu passo esta chapa para as mãos do artista e, com isso, não me atrevo
                    a ditar normas, mas apenas chamar a atenção para certos cuidados que ele dever ter a fim de que todo o seu trabalho não desapareça
                    na banheira do mordente. Como o valor de uma linha ou de um conjunto de linhas se obtém pela maior ou menor exposição ao mordente,
                    conclui-se daí que uma gravura executada a ácido deve ser feita por tempos, isto é, por mersuras, remorsuras e coberturas. A melhor
                    maneira será pois, a de morder a chapa por tempos, isto, gradativamente.
                </p>

                <p>
                    Para se obter uma trama, linhas cruzadas, pratica-se o cruzamento e a mersura por etapas: um banho para cada direção da trama. Exemplo:
                    feitos os primeiros traços, dá-se digamos, a estes uma hora de mersura e depois retira-se a chapa do banho e gravam-se os segundos,
                    cruzados sobre os primeiros; então, dá-se mais uma hora de mersura. Com este procedimento resulta que os primeiros traços terão duas
                    horas de banho e os últimos, uma hora. Com isto, além de se evitar que a trama tenha um aspecto pesado, impede-se o perigo de “crevé”
                    (fusão das linhas). Outro ponto importante é a distância de uma linha a outra. Seja qual for o grafismo adotado, é bom lembrar que os
                    espaços são absolutamente necessários, não só porque representam o respiro da estampa, mas também porque obedecem às exigências da
                    matéria. Também é bom recordar que o buril deve ser empunhado verticalmente e usado com uma pressão suficiente para romper
                    completamente a película da cera. O cuidado do gravador reside em preparar o tracejado de tal modo a poder ir isolando sucessivamente
                    as partes para, pouco a pouco, alcançarem, no ácido, a justa mensura. As partes da gravura suficientemente  mordidas devem ser
                    protegidas com verniz isolante “vernis à recouvrir”, enquanto que se continua a mersura para os traços mais intensos. Cada vez
                    que se retira a chapa do banho, este deve enxugar-se antes de receber as coberturas de verniz. E só se põe a chapa novamente no
                    banho, quando o verniz estiver completamente seco. Antes de se por a chapa no mordente, deve-se proteger as costas da mesma e as
                    bordas, nas quais nunca se grava. Para isto, usa-se o verniz isolante ou um verniz a álcool. Sempre que se usa um verniz a pincel,
                    imediatamente se lava o pincel com água-raz. Para se reenvernizar a chapa, a fim de continuar o trabalho, usa-se cera branca ou a
                    própria cera negra que então não se enfumaça. Quando se enverniza uma chapa para a remersura, deve-se também limpá-la com branco de
                    Espanha e álcool. Quando se verifica que a mersura de uma chapa de água forte é insuficiente, usa-se o “vernis à rouleau”. Terminada
                    a gravura, remove-se a camada de verniz com água-raz. A chapa está, então, pronta para a impressão.”
                </p>

                <p>
                    <b>Fontes:</b>
                </p>

                <p>
                    CAMARGO, Iberê. A Gravura.  Topal, São Paulo, 1975.<br>
                    CAMARGO, Iberê. A Gravura.  Porto Alegre, Sagra: DC Luzzatto, 1992.
                </p>
            </div>
        </div>
    </div>

    {% endblock %}