    {% extends 'modelo.html' %}
    {% block content %}

    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-sm-2"></div>
                <div class="col-sm-8 h-100" id="corpo">
                    <h1>Restauração</h1>
                        <hr>
                        <p style="text-align: right;">
                            <b>Julio Reis</b>
                        </p>

                        <p>
                            O PAPEL DA ARTE não quer apenas enriquecer sua coleção de obras de arte em papel, mas também ajudá-lo a cuidar desse acervo,
                            oferecendo desde dicas de conservação até o serviço de restauro e emolduramento.</p>
                        <p>
                            Trabalhamos com uma equipe de profissionais altamente qualificados que devolverão a sua obra de arte a beleza do momento em que
                            foi criada. Entre em contato conosco informando o que  gostaria  de restaurar.</p>
                        <p>
                            Lembramos no entanto que o papel é um organismo vivo e portanto biodegradável, composto por celulose e aproximadamente 90% de água,
                            sofrendo durante toda a sua vida a ação do tempo, da umidade e da luz.  A melhor restauração é aquela onde há  a menor intervenção
                            possível. A atuação de um restaurador especializado assemelha-se a de um médico que precisa examinar in loco o seu paciente – a obra
                            de arte –,  para então  traçar um prognóstico correto e o melhor tratamento a ser ministrado.  Por isso, não podemos fazer qualquer
                            avaliação de restauro sem antes estar com a obra em mãos.</p>
                        <p>
                            Proceda da seguinte forma: retire o trabalho da moldura com cuidado e envie-o num canudo de papelão para nós. Sugerimos que envie
                            pelo correio utilizando o serviço econômico de encomenda registrada, o PAC e informando o valor da obra no ato da postagem. É tão
                            seguro quanto o sedex porém muito mais barato. Após  receber o trabalho enviaremos o orçamento via email, lembrando que o custo de
                            envio para devolução da obra é de responsabilidade do colecionador.</p>
                        <p>
                            Veja abaixo a gravura em metal “Gabinete de Madame D´Azay Court”   de Francois Boucher  (www.francoisboucher.org), que estava
                            infestada de fungos e bactérias.</p>

                        <div class="row">
                            <div class="col-sm-6">
                                <center>
                                    <figure>
                                        <!--..\static\restauracao\imagem1.jpg - Caminho para pegar imagens salvas-->
                                        <img src="..\static\restauracao\imagem1.jpg" alt="Detalhe antes e depois do emolduramento" height="187" width="300" >
                                        <figcaption> Detalhe: Antes e Depois </figcaption>
                                    </figure>
                                </center>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <center>
                                    <figure>
                                        <!--..\static\restauracao\imagem2.jpg - Caminho para pegar imagens salvas-->
                                        <img src="..\static\restauracao\imagem2.jpg" alt="Área antes e depois do emolduramento" style="max-width: 500px;">
                                        <figcaption> Área total: Antes e Depois </figcaption>
                                    </figure>
                                </center>
                            </div>
                        </div>

                        <h1>Emolduramento</h1>
                        <hr>

                        <p>É muito comum comprarmos uma gravura que esteja com algum tipo de oxidação,  mofo ou mesmo rasgo e enviá-la a um especialista em papel para   o restauro e limpeza dessas manchas e sujeiras adquiridas com o tempo e a má conservação. Dependendo do estado  da gravura, às vezes  sai caro o processo de restauro devido às dificuldades enfrentadas pelo profissional  que precisa conhecer muito bem não só os mais variados tipos de papel e sua constituição  como também os produtos  químicos (tintas, vernizes, graxas etc) empregados na sua execução.</p>
                        <p>Após a compra dessa gravura e os custos para resgatar toda a sua beleza após o restauro,  o colecionador comete então um dos seus maiores erros:  manda emoldurá-la na vidraçaria da esquina, aquela mesma onde ele encomendou o box blindex do seu banheiro e também os vidros das janelas da sua sala.  Um erro fatal  cuja conta será cobrada futuramente, afinal o barato sempre sai caro.</p>
                        <p>O alto teor de acidez dos paspaturs comuns e sem ph neutro, o uso de fundos de duratex, madeira ou papelão para “fechar” o quadro,  agem como verdadeiros inimigos da gravura, que em pouco tempo sofrerá com a acidez desses materiais apresentando novas manchas,  pontos de amarelecimento ou mofo e necessitando assim de uma nova ida ao restaurador.</p>
                        <p>É importante que você leve sua gravura a um moldureiro que entenda o mínimo de conservação  e utilize papéis adequados para emoldurar  corretamente  sua obra. Os custos realmente não são altos se você comparar com os gastos que teve na compra e restauro de sua gravura.  É como você comprar o carro dos seus sonhos e só abastecê-lo com gasolina adulterada, ou seja, em pouco tempo aparecerão problemas.</p>
                        <p>Conversei com o André Vincenti,  da Molducenter, empresa especializada em papéis especiais para emolduramento de gravuras, que me disse: ” – a vantagem de você usar um papel alcalino é que ele possui em sua constituição uma reserva maior de carbonato de cálcio, que inibirá por maior tempo a proliferação de fungos e a acidez do ambiente externo que atinge a gravura. Se você emoldurar por exemplo um pôster do Monet, poderá utilizar um paspatur comum não alcalino e com função meramente decorativa porém quando você for emoldurará uma gravura original, é realmente  importante o emprego de um paspatur alcalino, livre de acidez, que irá protegê-la da melhor forma possível contra ação dos fungos.”  </p>

                        <figure style="float: left;text-align:center; padding-right:2%;">
                            <img src="..\static\emolduramento\imagem1.jpg" alt="Área antes e depois do emolduramento" >
                            <figcaption id="figcaption"> André Vincentti, da Molducenter </figcaption>
                        </figure>

                        <p>André complementa que a função do paspatur é criar um micro clima dentro da moldura, porém somente sobre a área do desenho. Esse micro ambiente entre o vidro e a gravura é criado pelo uso do paspatur de 1 a 2 mm que deixará a gravura “respirar”.  Perguntei-lhe então quais são as etapas corretas para emoldurar uma gravura e ele me explicou que existem 5 passos básicos e fáceis do moldureiro seguir:</p>
                        <p>1º Moldura: se quiser utilizar alguma moldura antiga, deve-se desinfetá-la antes e isolar com fita adesiva alcalina a área onde se encaixa o vidro e as demais partes do quadro.</p>
                        <p>2º Vidro: jamais aproveite algum vidro usado.</p>
                        <p>3º Paspatur: utilize paspatur livre de ácido/alcalino. Recomendamos a linha Select.</p>
                        <p>4º Gravura</p>
                        <p>Opcional: antes de colocar o fundo para fechar a gravura,  recomendamos o uso do Barrier,  um papel livre de acidez que funcionará como mais uma barreira de proteção contra os fungos.</p>
                        <p>5º Fundo : sempre utilize o Foam Board que é uma placa de prolipropileno alcalino ou então um cartão micro ondulado alcalino. O fundo do quadro é a área mais importante a ser preservada pois é a entrada mais fácil de fungos e bactérias até a gravura.</p>
                        <p>André informou também que na hora de fixar a gravura ao paspatur e depois fechar o fundo, “jamais deixe de trabalhar com fita adesiva alcalina, ou seja, livre de ácido. Nada de economizar usando a fita durex ou fita crepe utilizados em casa”, finaliza.</p>
                        <p>Em breve informaremos  alguns contatos de bons moldureiros que trabalhem utilizando corretamente as técnicas e papéis adequados para emoldurar suas gravuras. Aguardem!</p>

                </div>
            </div>
        </div>

    {% endblock %}