    {% extends 'modelo.html' %}
    {% block content %}

    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" id="corpo">
                <h1>HELIOGRAVURA</h1>
                <hr>

                <center>
                    <figure style="width: 25%; text-align: center;">
                        <img src="..\static\impressao\heliogravura.jpg" style="width: 100%;" alt="Marcus Lontra, Curador de Arte olhando e sorrindo para a foto" >
                        <figcaption class="figcaption">Heliogravura original sobre papel vitela segundo Edouard Manet. Anônima. 1910.</figcaption>
                    </figure>
                </center>

                <p>
                    Denominação que abrange todo processo da gravura obtida por via fotomecânica,  valendo-se  das propriedades de endurecimento
                    da gelatina bicromada sujeita à ação da luz.  O processo heliográfico de maior aplicação é a rotogravura, que ao contrário da
                    heliogravura cuja imagem é gravada em prancha plana, a imagem da rotogravura é gravada num cilindro de cobre, para impressão rotativa.
                </p>

                <p>
                    <b>Fonte:</b>
                </p>

                <p>
                    RIBEIRO, Milton. Planejamento Visual Gráfico. Linha Gráfica e Editora. 2ª. Ed.rev. e atualizada, – Brasilia: Linha, 1987.
                </p>
            </div>
        </div>
    </div>

    {% endblock %}