    {% extends 'modelo.html' %}
    {% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" id="corpo">
                <h1>História da Gravura</h1>
                <hr>
                <p>Abaixo você encontrará dois textos que resumem a história da gravura no Brasil e no mundo. Infelizmente, a dinâmica da Internet não nos permite ser tão longos.</p>
                <a href="Historia-da-Gravura/Seculo-19" class="tecnicaImpressaoLink">
                    <h5>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                          <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        Uma breve história da gravura até o século 19
                    </h5>
                </a>
                <p>A gravação de imagens em suportes como a pedra ou a madeira, para depois serem utilizados como matrizes de impressão sobre papel ou tecido, já era empregada pelos egípcios e conhecida pelos chineses desde…</p>
                <a href="Historia-da-Gravura/Brasil" class="tecnicaImpressaoLink">
                    <h5>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                          <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>
                        Uma breve história da gravura no Brasil
                    </h5>
                </a>
                <p>A disciplina e os compromissos com o ensino que acompanham a técnica da gravura fazem dela um verdadeiro celeiro de propostas conceituais e pesquisas estéticas algumas vezes desprezadas pelo olhar apressado. A gravura é…</p>
            </div>
        </div>
    </div>

    {% endblock %}