<!DOCTYPE html>
<html lang="pt-br">
<head>

    {% include "model-head.html" %}

</head>
<body>
    {% include "model-header.html" %}

    <div class="container-fluid" style="height:80%;">
        <div class="row h-100">
            {% include "model-esquerda.html" %}
            <div class="col-sm-8 h-100 scrollspyLateral" id="corpo" data-spy="scroll">
                <div id="carouselExampleIndicators" class="carousel slide my-4 h-50" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner h-100" role="listbox">
                            {% for obras in obras %}
                              <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %} h-100" style="text-align:center;">
                                <a href="/Artistas/{{ obras.obr_artista }}"><img class="img-fluid h-100" style="height: 50%;" src="{{ obras.obr_img }}" alt="First slide"></a>
                              </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                      </div>
                <div class="row">
                <div class="col-sm-6" id="colTextoIndex">
                  <p id="textoIndex">
                    O papel é onde o artista primeiro projeta sua alma, o espaço para a primeira inspiração, o primeiro croqui, o esboço, a primeira impressão. É a morada inaugural da idéia palpável da criação, visual e material. É nele que a arte nasce. Em suas fibras constroem-se traços e texturas, linhas retas e curvas, moldam-se pensamentos, delineiam-se projetos, devaneios e estudos sem os quais o artista não poderia terminar sua criação.
                  </p>
                  <p id="textoIndex">
                    O objeto deste espaço é falar sobre esses artistas corajosos que encontraram no papel o suporte ideal para o desenvolvimento de suas carreiras, utilizando para isso as mais diversas técnicas de impressão, seja a gravura em metal, a xilogravura, a serigrafia, a gravura em relevo, o buril, a ponta seca, a litogravura etc.
                  </p>
                </div>
                <div class="col-sm-6" id="colTextoIndex">
                  <p id="textoIndex">
                    Pretendemos aqui não só divulgar a arte dos grandes mestres da gravura mas também de artistas que usaram o papel como expansão do espírito criativo. Falaremos sobre as mais diversas técnicas de impressão em papel, possibilitando aos amantes dessa tradição, a venda e a aquisição de obras categorizadas, com segurança e transparência.
                  </p>
                  <p id="textoIndex">
                    Entrevistas com grandes mestres da gravura no Brasil, serviço de restauração de obras, dicas sobre como melhor emoldurá-las, conversas com colecionadores e especialistas no assunto.
                  </p>
                  <p id="textoIndex">
                    Enfim, pretendemos tornar esse site um local democrático, freqüentado por todos os amantes da gravura, sejam eles artistas ou simples admiradores como nós. Aproveitem!
                  </p>
                  <p id="textoIndex" style="text-align: right;"><b>Julio Reis</b></p>
                </div>
              </div>
            </div>
            {% include "model-direita.html" %}
        </div>
    </div>
    {% include "model-footer.html" %}

</body>

</html>