<!DOCTYPE html>
<html lang="pt-br">
<head>

    {% include "model-head.html" %}

</head>
<body>
    {% include "model-header.html" %}

<div class="container-fluid h-80" style="position:fixed;"> {% include "model-esquerda.html" %} </div>
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-sm-2"></div>
                <div class="col-sm-8" id="corpo">
                    <h1>Julio Reis</h1>
                    <hr>
                    <figure style="float: left; width: 25%; margin-right: 2%; text-align:center;">
                        <img src="..\static\julio\julio_reis.jpg" style="width: 100%;" alt="imagem de Julio Reis com os braços cruzados" >
                        <figcaption id="figcaption"> Julio Reis, gestor do site O Papel da Arte </figcaption>
                    </figure>
                    <p>
                        Falar de si próprio é sempre estranho, constrangedor, e pode soar como egocentrismo, mas vamos lá. Meu nome
                        é Julio, sou carioca, 40 anos, nascido no Leblon, criado em Santa Teresa e morador atual da Lapa. Formado e pós
                        graduado em Comunicação e Jornalismo Cultural pela UERJ, sou mestrando em História e Crítica da Arte pela Escola de
                        Belas Artes da UFRJ.
                    </p>

                    <p>
                        Há muitos anos acompanho o panorama brasileiro das artes plásticas, como simples frequentador de exposições no eixo
                        Rio-São Paulo, ou mesmo como comprador esporádico de obras de arte. Atuar no campo das artes plásticas para mim sempre
                        foi algo muito prazeroso e, muitas vezes, deixei de ir a uma sessão de cinema para curtir uma bela exposição de gravuras
                        do Iberê Camargo, Oswaldo Goeldi,  Carlos Oswald,  Roberto Magalhães, Rubem Grilo e tantos outros.
                    </p>

                    <p>
                        Garimpar em leilões residenciais, frequentar feiras de antiguidades e estar atento ao mercado são características de quem
                        realmente quer formar uma coleção. O processo de formação de um conjunto de gravuras ou de arte em geral poderia ser
                        comparado ao processo de aprendizado para conhecer vinhos. À medida que conhecemos mais profundamente, vamos refinando
                        nosso gosto e apurando o  paladar.
                    </p>

                    <p>
                        Com a gravura acontece o mesmo. Começamos comprando uma serigrafia com tiragem alta, depois compramos uma litogravura com
                        tiragem média, e aí vamos para uma gravura em metal 1/10 até, quem sabe, chegarmos a ostentar em nossa parede uma daquelas
                        valiosas xilos que o Goeldi fez com tiragens mínimas, quase únicas, disputadíssimas nos leilões da Soraia Cals ou da Bolsa
                        de Arte. Depois aprendemos a gostar de algumas fases de um determinado artista ou ser indiferente a outras. Fazemos compras
                        para eventuais trocas com outros colecionadores bem como vendas para tentar adquirir, mais adiante, aquela obra com que sonhamos
                        há anos para completar um ciclo de nossa coleção.
                    </p>

                    <p>
                        Essa é a paixão do colecionador, onde a persistência e paciência são fundamentais para o sucesso da coleção. É quando aparece
                        outro grande problema: onde encontrar espaço para pendurar mais uma bela aquisição?
                    </p>
                </div>
                {% include "model-direita.html" %}


            </div>
        </div>

    </div>

    <br><br><br><br>
    {% include "model-footer.html" %}

</body>

</html>