

<footer>
    <div class="container-fluid" id="footer">
        <div class="row" style="height 10%;">
            <div class="col-sm-12">
                <div class="row my-3 justify-content-center">
                    <div class="col-sm-2">
                        <a href="#"><span class="mx-2"><i class="icofont-facebook icofont-2x"></i></span></a>
                        <a href="#" id="facebook">Julio Reis</a>
                    </div>
                    <div class="col-sm-2">
                        <a href="#"><span class="mx-2"><i class="icofont-email icofont-2x"></i></span></a>
                        <a href="#" id="email">julioreis@gmail.com</a>
                    </div>
                </div>
                <div class="row my-3 justify-content-center">
                    <div class="col-sm-2">
                        <a href="#"><span class="mx-2"><i class="icofont-whatsapp icofont-2x"></i></span></a>
                        <a href="#" id="whatsapp">+55 21 99999999</a>
                    </div>
                    <div class="col-sm-2">
                        <a href="#"><span class="mx-2"><i class="icofont-instagram icofont-2x"></i></span></a>
                        <a href="#" id="instagram">@julioreis</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <small class="rights" style="float:right;"><span>&#174;</span> Desenvolvido por: os brabo.</small>
    </div>
    </div>
</footer>