
<div class="col-sm-2 h-100">
    <form class="example" action="/action_page.php" style="margin:auto;width:auto;">
        <input type="text" placeholder="Pesquisar..." id="pesquisar">
        <button type="submit" id="botaoPesquisar"><i class="fa fa-search"></i></button>
    </form>
    <div data-spy="scroll" data-offset="0" class="scrollspyLateral">
        {% for artistas in artista %}
                    <a class="nav-link" href="{{ artistas.art_sobrenome }}">{{ artistas.art_sobrenome }}, {{ artistas.art_nome }}</a>
        {% endfor %}
    </div>
</div>