    {% extends 'modelo.html' %}
    {% block content %}

    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" id="corpo">
                <h1>Notícias</h1>
                {% for noticia in noticias %}
                    <hr>
                    <div class="card mb-3">
                      <div class="row no-gutters">
                        <div class="col-sm-4 my-3" style="padding-left:10px;padding-right:10px;">
                          <img src="{{ noticia.not_imagem.url }}" class="card-img" alt="Imagem da {{ noticia.not_nome }}">
                        </div>
                        <div class="col-sm-8">
                          <div class="card-body">
                            <h5 class="card-title">{{ noticia.not_nome }}</h5>
                            <div class="card-text" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical;">{{ noticia.not_desc | safe }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}

                <div style="text-align: center;">
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Anterior">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Anterior</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Próximo">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Próximo</span>
                      </a>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}