    {% extends 'modelo.html' %}
    {% block content %}

    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-sm-2"></div>
                <div class="col-sm-8" id="corpo">
                    <h1>Título</h1>
                    <hr>

                    <center>
                        <figure style="width: 25%; text-align: center;">
                            <img src="#" style="width: 100%;">
                            <figcaption class="figcaption"></figcaption>
                        </figure>
                    </center>
                  <p></p>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}