<!DOCTYPE html>
<html lang="pt-br">
<head>

    {% include "model-head.html" %}

</head>
<body>
    {% include "model-header.html" %}

<div class="container-fluid h-80" style="position:fixed;"> {% include "model-esquerda.html" %} </div>
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-sm-2"></div>
                <div class="col-sm-8" id="corpo">
                    <h1>O Papel da Arte</h1>
                    <hr>
                    <figure style="height:52%; text-align:center;">
                        <img src="..\static\sobre\papel.jpg" style="height: 90%;" alt="imagen dos grandes mestres da gravura brasileira em uma mesa de jantar" >
                        <figcaption id="figcaption"> <!-- style="max-width:50%;" --> Claudio Correia e Castro, Anísio Medeiros, Poty, Lívio Abramo, Fayga
                            Ostrower, Oswaldo Goeldi, Ligia Pape, Darel, Iberê Camargo e Marcelo Grassmann. Foto gentilmente cedida pelo Projeto Goeldi. </figcaption>
                    </figure>
                    <p>
                        Conversaremos com grandes mestres da gravura no Brasil, prestaremos serviço de restauração, dicas sobre como melhor conservar  e
                        emoldurar as obras,  conversas com colecionadores e especialistas no assunto.
                    </p>

                    <p>
                        Há muitos anos acompanho o panorama brasileiro das artes plásticas, como simples frequentador de exposições no eixo Rio-São Paulo,
                        ou mesmo como comprador esporádico de obras de arte. Atuar no campo das artes plásticas para mim sempre foi algo muito prazeroso e,
                        muitas vezes, deixei de ir a uma sessão de cinema para curtir uma bela exposição de gravuras do Iberê Camargo, Oswaldo Goeldi,
                        Carlos Oswald,  Roberto Magalhães, Rubem Grilo e tantos outros.
                    </p>

                    <p>
                        Enfim, pretendemos tornar esse site um local democrático, freqüentado por todos os amantes da gravura, sejam eles artistas ou simples
                        admiradores como nós. Aproveitem!
                    </p>
                    <p style="text-align: right;"><b>Julio Reis</b></p>
                </div>
                {% include "model-direita.html" %}
            </div>
        </div>

    </div>

    <br><br>

    {% include "model-footer.html" %}

</body>

</html>