    {% extends 'modelo.html' %}
    {% block content %}

    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-sm-2"></div>
                <div class="col-sm-8" id="corpo">
                    <h1>PONTA SECA</h1>
                    <hr>

                    <center>
                        <figure style="width: 25%; text-align: center;">
                            <img src="..\static\impressao\ponta_seca.jpg" style="width: 100%;" alt="Marcus Lontra, Curador de Arte olhando e sorrindo para a foto" >
                            <figcaption class="figcaption">"Cidade fantástica" gravura à ponta-seca, 1961. Darel Valença.</figcaption>
                        </figure>
                    </center>

                    <p>
                        “Trata-se de um método aparentemente fácil. Basta atacar diretamente o metal com uma ponta de aço. A profundidade do traço
                        depende da pressão que se faz com a mão. O Gravador deve segurar o buril o mais perpendicularmente possível em relação à
                        superfície da chapa para obter duas rebarbas fortes nas bordas do traço. Gravando com a ponta inclinada, resulta um traço
                        menos profundo e, por conseguinte, obtem-se uma rebarba mais fraca, menor do lado da mão. As rebarbas, características deste
                        método direto, não devem ser cortadas. São nelas que a tinta de impressão se agarra e delas depende a força da linha gravada.
                        Pode-se naturalmente cortar uma parte da rebarba, quando esta operação corresponde às necessidades do nosso trabalho. E, neste
                        caso, usa-se o raspador no sentido do comprimento da linha. É melhor fazer esta correção com a chapa atintada, o que permite
                        sejam vistos os valores que devem ser suprimidos. Pode-se marcar o desenho, usando-se nanquim, lápis de cera, creion litográfico
                        ou lápis simplesmente. A ponta seca gasta-se facilmente, motivo pelo qual não se deve tirar repetidas cópias antes de terminado
                        o trabalho. É o processo que mais sofre a pressão da prensa. Convém cromar a chapa si se deseja aumentar as possibilidades da tiragem.”
                    </p>

                    <p>
                        <b>Fontes:</b>
                    </p>

                    <p>
                        CAMARGO, Iberê. A Gravura.  Topal, São Paulo, 1975.<br>
                        CAMARGO, Iberê. A Gravura.  Porto Alegre, Sagra: DC Luzzatto, 1992.
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}