    {% extends 'modelo.html' %}
    {% block content %}

    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-sm-2"></div>
                <div class="col-sm-8" id="corpo">
                    <h1>PROCESSO DO AÇÚCAR</h1>
                    <hr>

                    <center>
                        <figure style="width: 25%; text-align: center;">
                            <img src="..\static\impressao\processo_acucar.jpg" style="width: 100%;" alt="Marcus Lontra, Curador de Arte olhando e sorrindo para a foto" >
                            <figcaption id="figcaption">"Núcleo", 1966. iberê Camargo. Água-tinta (PROCESSO DO AÇÚCAR)"</figcaption>
                        </figure>
                    </center>

                    <p>
                        “Consiste em desenhar sobre a chapa, perfeitamente desengraxada, com tinta nanquim saturada de açúcar. O desenho pode ser executado a
                        pena ou pincel diretamente sobre a chapa. Depois de seco o desenho, cobre-se a chapa com uma fina camada de “vernis a recouvrir” e,
                        uma vez seco, mergulha-se esta numa banheira de água fria ou morna, para que o verniz solte nas partes desenhadas. Uma vez isso
                        conseguido, a chapa é retirada da água e, depois de seca, pulverizada, no todo, com uma camada de resina e aquecida ligeiramente
                        a fim de fixar a resina. Também se pode desenhar sobre a chapa, já preparada previamente, com o grão de resina antes de se começar
                        o desenho.
                    </p>

                    <p>
                        Apressa-se o rompimento do verniz sobre os traços com um pincel de pelo farto e macio. A mersura se faz com Mordente Holandês e
                        tanto pode ser plana como por coberturas. Desengraxa-se a chapa com branco de Espanha e álcool retificado.”
                    </p>

                    <p>
                        <b>Fontes:</b>
                    </p>

                    <p>
                        CAMARGO, Iberê. A Gravura.  Topal, São Paulo, 1975.<br>
                        CAMARGO, Iberê. A Gravura.  Porto Alegre, Sagra: DC Luzzatto, 1992.
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}