<!DOCTYPE html>
<html lang="pt-br">
<head>

    {% include "model-head.html" %}

</head>
<body>
    {% include "model-header.html" %}

<div class="container-fluid h-80" style="position:fixed;"> {% include "model-esquerda.html" %} </div>
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-sm-2"></div>
                <div class="col-sm-8" id="corpo">
                    <h1>PROCESSO DO ENXOFRE</h1>
                    <hr>

                    <center>
                        <figure style="width: 25%; text-align: center;">
                            <img src="..\static\impressao\processo_enxofre.jpg" style="width: 100%;" alt="Marcus Lontra, Curador de Arte olhando e sorrindo para a foto" >
                            <figcaption id="figcaption">"Retrato", Processo do Enxofre, 1953. Iberê Camargo.</figcaption>
                        </figure>
                    </center>

                    <p>
                        “Consiste em passar sobre a superfície do cobre, previamente desengraxado uma mistura de <u>óleo de oliva e enxofre</u>. Esta
                        mistura ataca o cobre, dando um finíssimo granulado. O valor da mersura dependo do tempo que a mistura permanece sobre o metal.
                        Também pode-se aplicar o óleo de oliva a pincel, e, em seguida, pulverizar flor de enxofre, usando um saquinho de pano com trama
                        fina. Em poucos minutos, o cobre enegrece sob a ação dessa mistura que age como mordente. Terminada a mersura, lava-se perfeitamente
                        a placa com essência. Repete-se o ataque sempre que se deseja escurecer o valor.  Este processo não pode ser usado sobre o zinco, que
                        não é atacado pela mistura de óleo de oliva e enxofre.”
                    </p>

                    <p>
                        <b>Fontes:</b>
                    </p>

                    <p>
                        CAMARGO, Iberê. A Gravura.  Topal, São Paulo, 1975.<br>
                        CAMARGO, Iberê. A Gravura.  Porto Alegre, Sagra: DC Luzzatto, 1992.
                    </p>
                </div>
            {% include "model-direita.html" %}
            </div>
        </div>

    </div>

    {% include "model-footer.html" %}

</body>

</html>