<!DOCTYPE html>
<html lang="pt-br">
<head>

    {% include "model-head.html" %}

</head>
<body>
    {% include "model-header.html" %}

<div class="container-fluid h-80" style="position:fixed;"> {% include "model-esquerda.html" %} </div>
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-sm-2"></div>
                <div class="col-sm-8" id="corpo">
                    <h1>PROCESSO DO LAVIS</h1>
                    <hr>

                    <center>
                        <figure style="width: 25%; text-align: center;">
                            <img src="..\static\impressao\processo_lavis.jpg" style="width: 100%;" alt="Marcus Lontra, Curador de Arte olhando e sorrindo para a foto" >
                            <figcaption id="figcaption">"Estrutura em movimento", Processo do Lavis, 1962. Iberê Camargo</figcaption>
                        </figure>
                    </center>

                    <p>
                        Toda chapa para ser gravada, em qualquer técnica, tem que ser polida. O polimento deixa a superfície sem arranhões, sem desnivelamentos
                        que possam segurar tinta e macular o branco. O desengordurar só é necessário quando a chapa vai ao ácido. Para o Lávis, a chapa polida
                        e desengordurada é protegida nas partes em que se quer conservar o polimento. No banho de ácido são atacadas as partes nuas do metal,
                        destruindo o polimento. O despolimento retém a tinta que será transferida ao papel. Para pequenas graduações de tom, o banho de ácido é
                        mais ou menos demorado.  A impressão se dá com a prensa calcográfica, em técnica que lhe é afim. É uma impressão parecida com uma aguada
                        de nanquim, com pretos de pouca intensidade. Número reduzido de cópias em bom estado, pois o ato de limpar a chapa, retirando a tinta
                        desnecessária, lhe dá novo polimento.
                    </p>

                    <p>
                        <b>Fonte:</b>
                    </p>

                    <p>
                        DASILVA, Orlando. A Arte maior da Gravura: participação gráfica de Marcello Grassmann. São Paulo, ESPADE, 1976.
                    </p>
                </div>
            {% include "model-direita.html" %}
            </div>
        </div>

    </div>

    {% include "model-footer.html" %}

</body>

</html>