    {% extends 'modelo.html' %}
    {% block content %}

    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" id="corpo">
                <h1>Uma breve história da gravura até o século 19</h1>
                <hr>
                <p>
                    A gravação de imagens em suportes como a pedra ou a madeira, para depois serem utilizados como matrizes de impressão
                    sobre papel ou tecido, já era empregada pelos egípcios e conhecida pelos chineses desde o século II. Sua “redescoberta”
                    se deu na Europa em meados do século XV, quando o uso da  xilogravura cumpriu o papel de grande veículo propagador de
                    imagens e textos.
                </p>

                <p>
                    O papel da xilo nesse período como difusora da imagem impressa e reprodução seriada, proporcionou aos artistas e pensadores
                    da época uma importante ferramenta no desenvolvimento das ciências, das idéias e das letras que começavam a circular naquele
                    momento que foi um dos mais ricos períodos da humanidade Essas imagens, entalhadas em placas de madeira, denominadas matrizes,
                    eram geralmente feitas de mogno, nogueira e outras cepas macias que permitiam uma maior facilidade de manejo.
                </p>

                <p>
                    A partir do século XV, a arte da gravura se impõe: além de já ser amplamente utilizada na divulgação de imagens religiosas e na
                    impressão de cartas de baralho, vai substituir o manuscrito e a iluminura, privilégio da nobreza e do clero, criando novas
                    possibilidades de divulgação e democratização do conhecimento. A gravura, por séculos, não apresentou limitações de edição
                    senão aquela imposta pela resistência da própria matriz.
                </p>

                <center>
                    <figure style="width: 50%; text-align: center;">
                        <img src="..\static\historia\gravura\imagem1.jpg" style="width: 100%;" alt="Gravura de Adão e Eva olhando-se" >
                        <figcaption id="figcaption"> "Adão e Eva", gravura, 1504, Albert Dürer. </figcaption>
                    </figure>
                </center>

                <p>
                    O alemão Albert Dürer (1471-1528) é considerado o maior artista gráfico do Renascimento. Dürer contribui, no inicio do século
                    XVI, para uma mudança de qualidade na produção de gravuras realizando inclusive experiências com a técnica da água-forte. No
                    século XVI é criada a gravura em metal, uma forma de impressão mais apurada e que incorporou as técnicas de ouriversaria
                    produzindo uma melhor definição de qualidade na imagem e também uma maior durabilidade da matriz no processo de grandes
                    tiragens por ser a chapa em metal bem mais resistente ao processo de impressão.
                </p>

                <p>
                    Apesar de não serem tão numerosos, os gravadores florentinos já realizam belíssimos trabalhos em talho doce no fim do século.
                    No século XVI há a consolidação da gravura em metal como forma de expressão em toda a Europa. A xilogravura entra em declínio e
                    a gravura em metal é intensamente utilizada, dado que possibilita uma edição maior e melhor qualidade de traço.
                </p>

                <p>
                    Na Itália, Marco Antonio Raimondi, com sua gravura de reprodução, documenta as grandes obras de pintores e desenhistas. É a
                    partir do trabalho de Raimondi que se tem definido o que se chamou “gravura de reprodução ou documentação”. Na gravura de
                    reprodução, o artista-artesão grava e documenta imagens que não são de sua própria criação: enquanto a chamada “gravura
                    original” é,  em si mesma, uma forma de expressão do artista.
                </p>

                <p>
                    Já no fim do século XVI encontramos a gravura de reprodução documentando o descobrimento do Novo Mundo; temos também as primeiras gravuras
                    registrando estudos científicos de anatomia, botânica, zoologia, etc. As técnicas de gravura em metal já conhecidas chegam ao auge da
                    perfeição e da maturidade no decorrer do século XVII. Meio de fácil reprodução e difusão, a par do interesse estético que ela oferece,
                    possui também valor de documentação e registro da cultura da época.
                </p>

                <center>
                    <figure style="width: 50%; text-align: center;">
                        <img src="..\static\historia\gravura\imagem2.jpg" style="width: 100%;" alt="Gravura em metal dos cem florins" >
                        <figcaption id="figcaption"> "A gravura dos cem florins", gravura em metal, 1649. Rembrandt. </figcaption>
                    </figure>
                </center>

                <p>
                    O holandês Rembrandt Harmensz Van Rijin (1606-1669) produziu gravuras importantes retratando não só o seu tempo,
                    como imagens bíblicas, retratos e paisagens. O francês Jacques Callot (1592-1635) produz uma obra original onde
                    a sociedade da época é representada por figuras grotescas. Suas gravuras em metal mostrando as obras do Grão
                    Duque Ferdinando I, de Médici, revelam todo seu talento como gravador.
                </p>

                <center>
                    <figure style="width: 50%;text-align:center;">
                        <img src="..\static\historia\gravura\imagem3.jpg" style="width: 100%;" alt="Gravura em metal do coliseu de Roma" >
                        <figcaption id="figcaption"> "O Coliseu", gravura em metal, Piranesi. </figcaption>
                    </figure>
                </center>

                <p>
                    O veneziano Giovanni Battista Piranesi (1728-1778) se destaca pelas suas ruínas da antiguidade e pela grandeza das
                    suas cidades. O gênio espanhol Francisco de Goya (1746-1828) presenteou o mundo com sua série Los Caprichos, uma
                    coleção de 80 gravuras que representa uma sátira da sociedade espanhola de finais do século XVIII, sobretudo da
                    nobreza e do clero.
                </p>

                <center>
                    <figure style="width: 50%;text-align:center;">
                        <img src="..\static\historia\gravura\imagem4.jpg" style="width: 100%;" alt="Figura correndo de medo de uma assombração" >
                        <figcaption id="figcaption"> "Correndo de medo", gravura, 1864. Goya. </figcaption>
                    </figure>
                </center>

                <p>
                    O século XIX traz não só grandes transformações sociais e de modificações significativas no campo tecnológico como
                    também é um novo momento em relação às possibilidades de comunicação e circulação de idéias. No campo das artes, o
                    público é cada vez maior, consumindo rapidamente a produção que conta com recursos crescentes. Destaca-se nesse
                    período o francês Honoré Daumier (1808-1879), um dos maiores artistas litógrafos que usaram e abusaram da imprensa
                    como o melhor canal de divulgação de sua obra humorística e satírica. Também o francês Gustave Doré (1832-1883) foi
                    um dos mais destacados desenhistas e suas gravuras retratando O inferno e  O purgatório, descritas na Divina Comédia
                    de Dante,  são consideradas obras primas da ilustração.
                </p>

                <center>
                    <figure style="width: 50%;text-align:center;">
                        <img src="..\static\historia\gravura\imagem5.jpg" style="width: 100%;" alt="Figura correndo de medo de uma assombração" >
                        <figcaption id="figcaption"> "A Divina Comédia", 1865, gravura a buril. Gustave Doré. </figcaption>
                    </figure>
                </center>

                <p>
                    O aparecimento da fotografia e, no final do século, a invenção de processos fotomecânicos de impressão levam a
                    produção artesanal paulatinamente ao declínio. O clima de transformações do século XIX propicia grandes mudanças
                    no campo das artes que determinarão também os princípios da gravura contemporânea.
                </p>

                <p>
                    <b>Fontes:</b>
                </p>

                <p>
                    ANDRIOLE, Mauro. Gravura: conceito, história e técnicas. Texto publicado no site www.casadacultura.org.<br>
                    GRILO, Rubem. Texto de apresentação do Catálogo da Mostra Rio Gravura. Rio de Janeiro, 1999.
                </p>
            </div>
        </div>
    </div>

    {% endblock %}