<!DOCTYPE html>
<html lang="pt-br">
<head>

    {% include "model-head.html" %}

</head>
<body>
    {% include "model-header.html" %}

<div class="container-fluid h-80" style="position:fixed;"> {% include "model-esquerda.html" %} </div>
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-sm-2"></div>
                <div class="col-sm-8" id="corpo">
                    <h1>Técnicas de Impressão</h1>
                    <hr>
                    <a href="Tecnicas-de-Impressao/Agua-Forte" id="tecnicaImpressaoLink"><h3>Água-Forte</h3></a>
                    <a href="Tecnicas-de-Impressao/Agua-Tinta" id="tecnicaImpressaoLink"><h3>Água-Tinta</h3></a>
                    <a href="Tecnicas-de-Impressao/Buril" id="tecnicaImpressaoLink"><h3>Buril</h3></a>
                    <a href="Tecnicas-de-Impressao/Heliogravura" id="tecnicaImpressaoLink"><h3>Heliogravura</h3></a>
                    <a href="Tecnicas-de-Impressao/Linoleo" id="tecnicaImpressaoLink"><h3>Linóleo</h3></a>
                    <a href="Tecnicas-de-Impressao/Litografia" id="tecnicaImpressaoLink"><h3>Litografia</h3></a>
                    <a href="Tecnicas-de-Impressao/Maneira-Negra" id="tecnicaImpressaoLink"><h3>Maneira Negra</h3></a>
                    <a href="Tecnicas-de-Impressao/Ponta-Seca" id="tecnicaImpressaoLink"><h3>Ponta Seca</h3></a>
                    <a href="Tecnicas-de-Impressao/Processo-do-Acucar" id="tecnicaImpressaoLink"><h3>Processo do Açúcar</h3></a>
                    <a href="Tecnicas-de-Impressao/Processo-do-Enxofre" id="tecnicaImpressaoLink"><h3>Processo do Enxofre</h3></a>
                    <a href="Tecnicas-de-Impressao/Processo-do-Lavis" id="tecnicaImpressaoLink"><h3>Processo do Lavis</h3></a>
                    <a href="Tecnicas-de-Impressao/Processo-do-Relevo" id="tecnicaImpressaoLink"><h3>Processo do Relevo</h3></a>
                    <a href="Tecnicas-de-Impressao/Serigrafia" id="tecnicaImpressaoLink"><h3>Serigrafia</h3></a>
                    <a href="Tecnicas-de-Impressao/Verniz-Mole" id="tecnicaImpressaoLink"><h3>Verniz Mole</h3></a>
                    <a href="Tecnicas-de-Impressao/Xilogravura" id="tecnicaImpressaoLink"><h3>Xilogravura</h3></a>
                </div>
                {% include "model-direita.html" %}
        </div>
    </div>
    <br><br>
    {% include "model-footer.html" %}


</body>

</html>