    {% extends 'modelo.html' %}
    {% block content %}

    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" id="corpo">
                <h1>Técnicas de Impressão</h1>
                <hr>
                <a href="Tecnicas-de-Impressao/Agua-Forte" class="tecnicaImpressaoLink">
                    <h3>Água-Forte</h3>
                </a>

                <a href="Tecnicas-de-Impressao/Agua-Tinta" class="tecnicaImpressaoLink">
                    <h3>Água-Tinta</h3>
                </a>

                <a href="Tecnicas-de-Impressao/Buril" class="tecnicaImpressaoLink">
                    <h3>Buril</h3>
                </a>

                <a href="Tecnicas-de-Impressao/Heliogravura" class="tecnicaImpressaoLink">
                    <h3>Heliogravura</h3>
                </a>

                <a href="Tecnicas-de-Impressao/Linoleo" class="tecnicaImpressaoLink">
                    <h3>Linóleo</h3>
                </a>

                <a href="Tecnicas-de-Impressao/Litografia" class="tecnicaImpressaoLink">
                    <h3>Litografia</h3>
                </a>

                <a href="Tecnicas-de-Impressao/Maneira-Negra" class="tecnicaImpressaoLink">
                    <h3>Maneira Negra</h3>
                </a>

                <a href="Tecnicas-de-Impressao/Ponta-Seca" class="tecnicaImpressaoLink">
                    <h3>Ponta Seca</h3>
                </a>

                <a href="Tecnicas-de-Impressao/Processo-do-Acucar" class="tecnicaImpressaoLink">
                    <h3>Processo do Açúcar</h3>
                </a>

                <a href="Tecnicas-de-Impressao/Processo-do-Enxofre" class="tecnicaImpressaoLink">
                    <h3>Processo do Enxofre</h3>
                </a>

                <a href="Tecnicas-de-Impressao/Processo-do-Lavis" class="tecnicaImpressaoLink">
                    <h3>Processo do Lavis</h3>
                </a>

                <a href="Tecnicas-de-Impressao/Processo-do-Relevo" class="tecnicaImpressaoLink">
                    <h3>Processo do Relevo</h3>
                </a>

                <a href="Tecnicas-de-Impressao/Serigrafia" class="tecnicaImpressaoLink">
                    <h3>Serigrafia</h3>
                </a>

                <a href="Tecnicas-de-Impressao/Verniz-Mole" class="tecnicaImpressaoLink">
                    <h3>Verniz Mole</h3>
                </a>

                <a href="Tecnicas-de-Impressao/Xilogravura" class="tecnicaImpressaoLink">
                    <h3>Xilogravura</h3>
                </a>
            </div>
        </div>
    </div>

    {% endblock %}