    {% extends 'modelo.html' %}
    {% block content %}

    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-sm-2"></div>
                <div class="col-sm-8" id="corpo">
                    <h1>VERNIZ MOLE</h1>
                    <hr>

                    <center>
                        <figure style="width: 25%; text-align: center;">
                            <img src="..\static\impressao\verniz_mole.jpg" style="width: 100%;" alt="Marcus Lontra, Curador de Arte olhando e sorrindo para a foto" >
                            <figcaption class="figcaption">"Mulher com cabrito", Verniz Mole, 1955. Iberê Camargo.</figcaption>
                        </figure>
                    </center>

                    <p>
                        “O processo de verniz mole consiste em preparar a chapa com um verniz graxo, composto de cera negra, sebo de boi, vaselina
                        ou graxa, e cobri-la com um papel de granulado fino, sobre o qual se desenha com um lápis duro, médio ou mole, segundo o
                        efeito que se deseja obter. Pode-se igualmente variar o granulado do papel do qual também depende a textura do traço, como
                        igualmente se pode usar vários papéis sobrepostos. Com a pressão do lápis, o verniz gruda ao papel sobreposto, de acordo com
                        a aspereza e acidentalidade do granulado, reproduzindo, na morsura, o efeito de um desenho a lápis. O tempo do banho de uma
                        chapa preparada com um verniz mole exige muita experiência. Em geral, os tempos de banho, são maiores do que os necessários
                        à água forte. É impossível o gravador se orientar por uma tabela do tempo, visto que concorrem vários fatores, como o granulado
                        do papel, a pressão do lápis etc. Como no caso da água forte, pode-se morder a chapa com uma  morsura plena  ou por tempos,
                        isto é, com morsuras e coberturas com verniz isolante, “verniz à recouvrir”. Para se preparar o verniz mole, mistura-se, em
                        banho Maria, cera negra, cera comum de água forte, com sebo de boi, vaselina ou graxa, na proporção de 2 partes de cera negra
                        por 1 parte de sebo de boi, proporção esta boa para ser usada durante o verão, numa temperatura de 24º ou 29º. No inverno,
                        aconselha-se partes iguais. A medida das partes faz-se em peso. Na preparação deste verniz, primeiramente se derrete a cera
                        negra, à qual se junta imediatamente o sebo de boi, misturando  bem os dois ingredientes, que, uma vez bem unidos, se derramam
                        na água fria para o resfriamento, dando-lhe, então, uma forma de pequena esfera ou bastão.
                    </p>

                    <p>
                        Este verniz sólido, posto dentro de um saco de pano fino, para coar possíveis impurezas que contenha, é passado sobre a chapa,
                        previamente aquecida, com um rolo de couro ou com o tampão. No caso de usar o rolo,  é preciso deixar a chapa esfriar. “O verniz
                        mou” Lefranc é estendido com um rolo de gelatina sobre a chapa fria. A uniformidade da camada de verniz sobre a chapa é muito
                        importante e convém que ela seja mais espessa do que a usada para a água forte. Também se deve observar que não restem partes
                        descobertas da chapa ou que se apresentem bolhas de ar sobre a superfície preparada. Quando o verniz é aplicado a rolo, deve-se
                        carregar o rolo, passando-o primeiro sobre um vidro onde se espalhou, antes, um pouco de verniz. Este rolo, então assim atintado,
                        é cuidadosamente passado sobre a superfície de metal, primeiramente num sentido da chapa e depois no outro, a fim de que resulte
                        uma cobertura perfeita. Só se ajusta o papel sobre a chapa envernizada, quando esta estiver completamente fria. Para o verniz mole,
                        só se deve usar o mordente holandês ou o percloreto de ferro. “
                    </p>

                    <p>
                        <b>Fontes:</b>
                    </p>

                    <p>
                        CAMARGO, Iberê. A Gravura.  Topal, São Paulo, 1975.<br>
                        CAMARGO, Iberê. A Gravura.  Porto Alegre, Sagra: DC Luzzatto, 1992.
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}